@font-face {
    font-family: 'ARIAL NARROW';
    src: url("HelveticaLT-Narrow.woff2") format("truetype");
}

@font-face {
    font-family: 'NEUE MONTREAL';
    src: url("NeueMontreal-Regular.ttf") format("truetype");
}


html {
    background-color: rgb(255, 255, 255);
}

body::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'ARIAL NARROW';
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
    line-height: 1.2em;
    overscroll-behavior-x: none;
    margin: 0%;
    padding: 0%;
    z-index: 0;

}

p {

    color: rgb(133, 133, 133);
    /* mix-blend-mode: exclusion; */
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    mix-blend-mode: exclusion;
}

.headline {
    color: rgb(33, 33, 33);
    text-decoration: none;
    background-color: #ffff00;
    mix-blend-mode: normal;
}

.nav {

    top: 0%;
    padding-top: 0%;
    padding-left: 2%;
    position: fixed;
    width: 50vw;
    height: 6vh;
    mix-blend-mode: exclusion;
    color: rgb(255, 255, 255);
    z-index: 3;
    overscroll-behavior-x: none;

}

.nav .name-short {
    display: none;
}

.nav .name-full {
    display: inline;
}

.nav .select a {
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    text-decoration-color: currentColor;
}

/* .nav .select a {
    background-color: #ffff00;
    color: #000;
    mix-blend-mode: normal;
}

.nav .select a:hover {
    background-color: #00ff00;
    color: #000;
    text-decoration: underline solid .1em #000;
} */

.language {
    top: 0%;
    padding-right: 2%;
    padding-top: 0%;
    padding-left: 0%;
    position: fixed;
    width: 100vw;
    mix-blend-mode: exclusion;
    color: rgb(255, 255, 255);
    z-index: 3;
    display: flex;
    justify-content: space-between;
    text-align: right;
    flex-direction: row;
}


.select {
    text-decoration: none;

}

.select:hover {
    text-decoration: underline solid .1em white;
    text-underline-offset: 3px;
    background-color: rgb(0, 0, 255);
}

.project-section .select {
    background-color: transparent;

}

.project-section .select a {
    color: #ffff00;
    background-color: #0000ff;
    mix-blend-mode: normal;
}

.project-section .select a:hover {
    color: #0000ff;
    background-color: #ffff00;
}

.margin-top {
    margin-top: 80px;
}

.margin-smalltop {
    margin-top: 40px;
}

.project {
    display: flex;
    flex-direction: row;
}

.archive-toggle {
    margin: 2rem 0 1rem;
    padding: 0.75em 2%;
    display: block;
    width: 100%;
    font-size: 1.2em;
    color: #0000ff;
    background-color: #ffff00;
    text-decoration: underline solid 0.1em currentColor;
    text-underline-offset: 3px;
    cursor: pointer;
    transition: color 0.2s ease, background-color 0.2s ease;
}

.archive-toggle:focus-visible {
    outline: 2px dashed #0000ff;
    outline-offset: 4px;
}

.archive-toggle:hover {
    color: #ffff00;
    background-color: #0000ff;
}

.archive-hidden {
    display: none;
}

.archive-archived {
    background-color: #ffffff;
}

img.passeport {
    width: 350px;
    height: auto;
    padding-left: 1%;

}

.img_container_split {
    width: 80%;
    padding-right: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
    padding-top: 1em;
}

.proj-img {
    width: 100%;
    /* height: 100%; */
    /* margin: 2em; */
    /* margin: 1em; */

}

.proj-vid {
    width: 100%;
    /* height: 100%; */
    /* margin: 2em; */
    /* margin: 1em; */

}

a:after,
[item]:after {
    content: attr(item);
    padding-left: 17px;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    width: auto;
    mix-blend-mode: exclusion;
    display: inline-block;
}

a[class=external]:after {
    vertical-align: 0px;
    padding-top: 0px;
    background-image: url('./norouest.svg');
    background-position: bottom 0px left 2px;
    mix-blend-mode: exclusion;
    height: 12px;
}

a[class=internal]:after {
    vertical-align: 0px;
    padding-top: 0px;
    background-image: url('./sudouest.svg');
    background-position: bottom 0px left 2px;
    mix-blend-mode: exclusion;
    height: 12px;
}

.proj1 {
    /* background-color: #fff; */
    color: rgb(33, 33, 33);
}

/* a[class=local]:after, [item]:after{
	vertical-align: 8px;
	background-image: url('assets/images/arrowDown.svg');
	background-position: top 4px left;
	height: 22px;
} */
.en {
    padding-left: 2%;
    padding-right: 1%;
    width: 50vw;
    /* text-align-last: right; */
}

.fr {
    padding-left: 1%;
    padding-right: 2%;
    width: 50vw;
    /* text-align-last: right; */
}

.info {
    padding-left: 1%;
}

.diss-mobile {
    display: block;
}

.arenaimgs {
    width: auto;
    margin-top: 5vh;
    height: 90vh;
    display: flex;
    padding-left: 1vw;
}

#parent {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    scroll-padding-inline-end: 0px;
    position: relative;
    overflow: hidden;
}

ul {
    list-style-type: none;
    width: auto;
    height: fit-content;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0vw;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    scroll-padding-inline-end: 0px;
    display: flex;
}

.img_container {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    scroll-padding-inline-end: 0px;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
}

#image-block {

    background-color: none;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

iframe {

    width: 100vw;
    height: 60vh;
    z-index: 3;
    border: none;
    /* border-bottom: 10px solid #ffff00; */

    padding-bottom: 0px;
    margin-bottom: 0px;

}

#parent .img__container {
    display: flex;
    gap: 12px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 0 56px 0 0;
    scrollbar-width: none;
}

#parent .img__container::-webkit-scrollbar {
    display: none;
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 0px;
    background: rgba(0, 0, 255, 0.85);
    color: #ffff00;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
    transition: opacity 0.2s ease, transform 0.2s ease;
    z-index: 4;
    opacity: 0.9;
}

/* .carousel-arrow:hover {
    opacity: 1;
    transform: translateY(-50%) scale(1.05);
} */

.carousel-arrow:disabled {
    opacity: 0.0;
    cursor: not-allowed;
    /* transform: translateY(-50%); */
}

.carousel-arrow.left {
    left: 12px;
}

.carousel-arrow.right {
    right: 12px;
}

iframe.web {
    height: 80vh;
    margin-left: 1%;
    width: 78vw;
    /* background-color: white; */
    border-radius: 10px;
}

@media only screen and (max-width: 780px) {
    .nav {
        width: 100vw;
        padding-left: 2%;
    }

    .language {

        display: flex;
        width: 100vw;
        margin-right: 0%;
    }

    .project {

        display: block;
        width: 96vw;
        margin-right: 0%;
    }

    /* ensure the header band spans full width on mobile */
    .project.language {
        width: 100vw;
        margin-right: 0;
        padding-right: 0;
    }

    .en {
        padding-left: 2%;
        padding-right: 2%;
        width: 96vw;
        /* text-align-last: right; */
    }

    .fr {
        padding-left: 2%;
        padding-right: 2%;
        width: 96vw;
        /* text-align-last: right; */
    }

    .nav .name-full {
        display: none;
    }

    .nav .name-short {
        display: inline;
    }

    .arenaimgs {
        width: auto;
        margin-top: 10vh;
        height: 90vh;
        display: flex;
        padding-left: 1vw;
    }

    .img_container_split {
        width: 100%;
        padding: 0rem;
        padding-left: 0.4em;
        /* padding-right: 2em;
        padding-left: 2em;
        padding-bottom: 2em;
        padding-top: 1em;  */
    }

    .proj-img {
        width: 100%;
        /* height: 100%; */
        /* margin: 2em; */
        /* margin: 1em; */

    }

    iframe.video {
        height: 100vh;
        width: auto;
    }

    iframe {
        width: 98vw;
        margin: 1%;
        height: 40vh;
        z-index: 3;
    }

    iframe.web {
        height: 80vh;
        margin-left: 2%;
        width: 96vw;
        background-color: transparent;
        border-radius: 10px;
    }

    #parent .img__container {
        padding: 0 44px 0 0;
        gap: 8px;
    }

    .carousel-arrow {
        width: 30px;
        height: 30px;
        font-size: 1rem;
        top: 10%;
        transform: translateY(10%);
    }

    .carousel-arrow.left {
        left: 8px;
    }

    .carousel-arrow.right {
        right: 8px;
    }

    .margin-top {
        margin-top: 80px;
    }

    .diss-mobile {
        display: none;
    }

    .info {
        padding-left: 2%;
    }

    img.passeport {
        width: 250px;
        height: auto;
        padding-left: 2%;
    }

    .highlight.fr {
        margin-bottom: 0%;
        margin-top: 0%;
    }

    .highlight.en {
        margin-bottom: 0%;


    }
}

.customcur {
    cursor: url(lr-cursor.png), ew-resize;

    /* cursor: ew-resize; */
}


.language {
    pointer-events: none;
}

.language a,
.language .select a {
    pointer-events: auto;
}

/* .project-section {
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s ease;
} */

.project-section {
    /* border-bottom: 3px solid #ffff00; */

}

.project-section:hover {
    /* background-color: rgb(255, 255, 0); */
}

.iframe-api {
    /* background-color: rgb(255, 255, 0); */
}
